<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todolist</title>
    <link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>

 <div class="box" id="heading">
    <h1 style="color: rgb(183, 205, 206);"><%= nameOfDay %> </h1>
 </div>

 <div class="box">
    <% for(var i = 0;i<listOfTasks.length;i++){ %>
        <div class="newTask">
            <input type="checkbox" name="" id="">
            <p><%= listOfTasks[i] %> </p>
        </div>
    <% } %>

    <form class="newTask" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Task" autocomplete="off">
        <button type="submit" >+</button>
    </form>
 </div>


   
</body>
</html>